.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  margin-top: 100px;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .main{
    margin-top: 150px;
    margin-bottom: 20px;
  }
}

.inputs {
  height: 45px;
  width: 100%;
  outline: none;
  color: var(--black);
  background: none;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 12px;
  border: 2px solid var(--lightBlue);
  font-size: 16px;

}

.inputs2{
  width: 100%;
  outline: none;
  color: var(--black);
  background: none;
  padding-left: 10px;
  font-size: 12px;
  border: 2px solid var(--lightBlue);
  font-size: 16px;
}

.bodyLink {
  color: var(--black);
  text-decoration: none;
  font-size: 16px;
}

.bodyLink:hover {
  color: var(--pink);
}

.btnPink {
  overflow: hidden;
  height: 42px;
  width: 30%;
  font-size: 18px;
  color: var(--white);
  background: var(--pink);
  outline: none;
  border-radius: 20px;
  border-color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-width: fit-content;
}



.label {
  font-weight:500;
  font-size: 18px;
  margin-top: 7px;
}